.pillars {
  margin: 0 100px;
  margin-top: 60px;
  text-align: left;
  padding: 20px 0;

}

.pillars h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.pillars h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #666;
}


@media (max-width: 1024px) {
    .pillars {
        margin: 0 20px;
        margin-top: 60px;
        text-align: center;
        padding: 20px 0;
      
      }
  
  }
  
  @media (max-width: 768px) {
    .pillars {
        margin: 0 20px;
        margin-top: 60px;
        text-align: center;
        padding: 20px 0;
      
      }
  
  }
  
  @media (max-width: 480px) {
    .pillars {
        margin: 0 20px;
        margin-top: 60px;
        text-align: center;
        padding: 20px 0;
      
      }
  
  }