.ribbon {
  width: 100vw;
  transform: rotate(-2deg);
  z-index: 1;
  margin-top: -50px;
  pointer-events: none; 
}

@media (max-width: 768px) {
  .ribbon {
    width: 200vw;
    z-index: -1; 
    margin-top: -350px;

  }
}

@media (max-width: 480px) {
  .ribbon {
    width: 200vw;
    z-index: -1; 
    margin-top: -350px;

  }
}
