

.header {
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: #ffffff;
  box-shadow: 0px 1px 2px gray;
}

.app {
  font-family: 'Arial', sans-serif;
  margin: 0 100px;
  color: #333;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 40px;
}

.images-column {
  display: flex;
  gap: 20px;
  width: 50%;

}

.carousel-one{
  width: 45%;
  margin-top: -40px;
  z-index: -99;

  .slick-list{
    max-height: 600px;
  }
}

.carousel-two {
  width: 45%;
  margin-top: -100px;
  z-index: -99;

  .slick-list{
    max-height: 470px;
  }
}

.images-column .slick-list {

  border-radius: 10px;
  overflow: hidden;
}

.images-column img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.content {
  width: 65%;
  padding-left: 20px;
}

.content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

.content h1 span {
  color: #ff4500;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search-bar input {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  background: #ff4500;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.pillars {
  text-align: center;
  padding: 20px 0;
}

.pillars h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.pillars h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #666;
}

.pillar-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pillar-tabs button {
  padding: 10px 20px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.pillar-tabs button:hover,
.pillar-tabs button:focus {
  background: #ff4500;
  color: #fff;
  outline: none;
}


.pillar-content {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 20px 0;
  white-space: nowrap;
}

.pillar-content div {
  display: inline-block;
  min-width: 480px;
  text-align: left;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s ease;
}

.pillar-content div:hover {
  transform: translateY(-5px);
}

.pillar-content img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.pillar-content h4 {
  font-size: 18px;
  margin-bottom: -5px;
  padding-left: 25px;
}

.pillar-content p {
  padding-left: 25px;
  font-size: 14px;
  color: #666;


}
